@{
    ViewBag.Title = "Index";
}



<div class="jumbotron">
    <h4 class="text-danger">Функциональные возможности</h4>
    <ol class="text-primary">
        <li>Работа с клиентами (добавление нового клиента, просмотр информации о клиенте)</li>
        <li>Поиск клиента по номеру договора, по ФИО</li>
    </ol>
</div>
   




